{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Site Administration') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block sidebar_menu %}
    {% if app_list %}
        <li class="header">{{ site_header|default:_('COPS Administration') }}</li>
        {% for app in app_list %}
            {% if app.models %}
            <li class="treeview">
                <a href="#"><span>{{ app.name }}</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                {% for model in app.models %}
                    {% if model.admin_url %}
                    <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                    {% else %}
                    <li>{{ model.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}