{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% load sekizai_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block sidebar_menu %}
    {% if app_list %}
        <li class="header">{{ site_header|default:_('COPS Administration') }}</li>
        {% for app in app_list %}
            {% if app.models %}
            <li class="treeview">
                <a href="#"><span>{{ app.name }}</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                {% for model in app.models %}
                    {% if model.admin_url %}
                    <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                    {% else %}
                    <li>{{ model.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% if not is_popup %}
    {% block content_header %}
        <h1>{{ opts.verbose_name_plural|capfirst }}</h1>
    {% endblock %}
    {% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer"></i>{% trans 'Home' %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
        {% if has_change_permission %}
            <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
        {% else %}
            <li>{{ opts.verbose_name_plural|capfirst }}</li>
        {% endif %}
        {% if add %}
            <li class="active">{% trans 'Add' %} {{ opts.verbose_name }}</li>
        {% else %}
            <li class="active">{{ original|truncatewords:"18" }}</li>
        {% endif %}
    </ol>
    {% endblock %}
{% endif %}

{% block content %}
<div class="col-md-12">
    <div class="box box-info">
        <form class="form" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
                <p class="errornote">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}

            <div class="box-header with-border">
                <h3 class="box-title">{{ opts.verbose_name }}</h3>
            </div>

            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        </form>
    </div>
</div>

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(django.jQuery);
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
{% endblock %}