{% extends "base.html" %}
{% block content %}
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">New Customer Information</h3>
	</div>
	<div class="box-body">
		<form action="{% url 'crm:customer-add' %}" method="post">{% csrf_token %}
			<label for="{{ form.code.id_for_label }}">Code:</label>
			{{ form.code }}
			<label for="{{ form.name.id_for_label }}">Name:</label>
			{{ form.name }}
			<label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
			{{ form.phone_number }}
			<label for="{{ form.address.id_for_label }}">Addres:</label>
			{{ form.address }}
			<label for="{{ form.city.id_for_label }}">City:</label>
			{{ form.city }}
			<label for="{{ form.field.id_for_label }}">Field:</label>
			{{ form.field }}
			<label for="{{ form.tax_id_number.id_for_label }}">NPWP:</label>
			{{ form.tax_id_number }}
			<label for="{{ form.join_date.id_for_label }}">Join Date:</label>
			{{ form.join_date }}
			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock %}

