@charset "UTF-8";
/*
 * Customizable variables
 * Update these variable to create theme
 */
/*
 * General
 */
/*
 * Sidebar
 */
/*
 * Top
 */
/*
 * Content
 */
/*
 * Buttons
 */
/*
 * Inputs
 */
/*
 * Messages
 */
/*
 * Login
 */
/*
 * jQuery UI
 */
/*
 * Charts
 */
/*
 * Default variable values
 * Create separate themes/theme/_variables.scss to override these variables
 */
/*
 * General
 */
/*
 * Sidebar
 */
/*
 * Top
 */
/*
 * Content
 */
/*
 * Buttons
 */
/*
 * Inputs
 */
/*
 * Messages
 */
/*
 * Login
 */
/*
 * jQuery UI
 */
/*
 * Charts
 */
/* line 1, ../../_helpers.scss */
.hidden {
  display: none;
}

/* line 5, ../../_helpers.scss */
.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 11, ../../_helpers.scss */
.fl {
  float: left;
}

/* line 15, ../../_helpers.scss */
.fr {
  float: right;
}

/* line 19, ../../_helpers.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 24, ../../_helpers.scss */
.cf:after {
  clear: both;
}

/* line 32, ../../_helpers.scss */
.p10 {
  padding: 10px;
}

/* line 32, ../../_helpers.scss */
.p20 {
  padding: 20px;
}

/* line 32, ../../_helpers.scss */
.p30 {
  padding: 30px;
}

/* line 32, ../../_helpers.scss */
.p40 {
  padding: 40px;
}

/* line 32, ../../_helpers.scss */
.p50 {
  padding: 50px;
}

/* line 32, ../../_helpers.scss */
.p60 {
  padding: 60px;
}

/* line 32, ../../_helpers.scss */
.p70 {
  padding: 70px;
}

/* line 32, ../../_helpers.scss */
.p80 {
  padding: 80px;
}

/* line 32, ../../_helpers.scss */
.pt10 {
  padding-top: 10px;
}

/* line 32, ../../_helpers.scss */
.pt20 {
  padding-top: 20px;
}

/* line 32, ../../_helpers.scss */
.pt30 {
  padding-top: 30px;
}

/* line 32, ../../_helpers.scss */
.pt40 {
  padding-top: 40px;
}

/* line 32, ../../_helpers.scss */
.pt50 {
  padding-top: 50px;
}

/* line 32, ../../_helpers.scss */
.pt60 {
  padding-top: 60px;
}

/* line 32, ../../_helpers.scss */
.pt70 {
  padding-top: 70px;
}

/* line 32, ../../_helpers.scss */
.pt80 {
  padding-top: 80px;
}

/* line 32, ../../_helpers.scss */
.pr10 {
  padding-right: 10px;
}

/* line 32, ../../_helpers.scss */
.pr20 {
  padding-right: 20px;
}

/* line 32, ../../_helpers.scss */
.pr30 {
  padding-right: 30px;
}

/* line 32, ../../_helpers.scss */
.pr40 {
  padding-right: 40px;
}

/* line 32, ../../_helpers.scss */
.pr50 {
  padding-right: 50px;
}

/* line 32, ../../_helpers.scss */
.pr60 {
  padding-right: 60px;
}

/* line 32, ../../_helpers.scss */
.pr70 {
  padding-right: 70px;
}

/* line 32, ../../_helpers.scss */
.pr80 {
  padding-right: 80px;
}

/* line 32, ../../_helpers.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 32, ../../_helpers.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 32, ../../_helpers.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 32, ../../_helpers.scss */
.pb40 {
  padding-bottom: 40px;
}

/* line 32, ../../_helpers.scss */
.pb50 {
  padding-bottom: 50px;
}

/* line 32, ../../_helpers.scss */
.pb60 {
  padding-bottom: 60px;
}

/* line 32, ../../_helpers.scss */
.pb70 {
  padding-bottom: 70px;
}

/* line 32, ../../_helpers.scss */
.pb80 {
  padding-bottom: 80px;
}

/* line 32, ../../_helpers.scss */
.pl10 {
  padding-left: 10px;
}

/* line 32, ../../_helpers.scss */
.pl20 {
  padding-left: 20px;
}

/* line 32, ../../_helpers.scss */
.pl30 {
  padding-left: 30px;
}

/* line 32, ../../_helpers.scss */
.pl40 {
  padding-left: 40px;
}

/* line 32, ../../_helpers.scss */
.pl50 {
  padding-left: 50px;
}

/* line 32, ../../_helpers.scss */
.pl60 {
  padding-left: 60px;
}

/* line 32, ../../_helpers.scss */
.pl70 {
  padding-left: 70px;
}

/* line 32, ../../_helpers.scss */
.pl80 {
  padding-left: 80px;
}

/* line 32, ../../_helpers.scss */
.m10 {
  margin: 10px;
}

/* line 32, ../../_helpers.scss */
.m20 {
  margin: 20px;
}

/* line 32, ../../_helpers.scss */
.m30 {
  margin: 30px;
}

/* line 32, ../../_helpers.scss */
.m40 {
  margin: 40px;
}

/* line 32, ../../_helpers.scss */
.m50 {
  margin: 50px;
}

/* line 32, ../../_helpers.scss */
.m60 {
  margin: 60px;
}

/* line 32, ../../_helpers.scss */
.m70 {
  margin: 70px;
}

/* line 32, ../../_helpers.scss */
.m80 {
  margin: 80px;
}

/* line 32, ../../_helpers.scss */
.mt10 {
  margin-top: 10px;
}

/* line 32, ../../_helpers.scss */
.mt20 {
  margin-top: 20px;
}

/* line 32, ../../_helpers.scss */
.mt30 {
  margin-top: 30px;
}

/* line 32, ../../_helpers.scss */
.mt40 {
  margin-top: 40px;
}

/* line 32, ../../_helpers.scss */
.mt50 {
  margin-top: 50px;
}

/* line 32, ../../_helpers.scss */
.mt60 {
  margin-top: 60px;
}

/* line 32, ../../_helpers.scss */
.mt70 {
  margin-top: 70px;
}

/* line 32, ../../_helpers.scss */
.mt80 {
  margin-top: 80px;
}

/* line 32, ../../_helpers.scss */
.mr10 {
  margin-right: 10px;
}

/* line 32, ../../_helpers.scss */
.mr20 {
  margin-right: 20px;
}

/* line 32, ../../_helpers.scss */
.mr30 {
  margin-right: 30px;
}

/* line 32, ../../_helpers.scss */
.mr40 {
  margin-right: 40px;
}

/* line 32, ../../_helpers.scss */
.mr50 {
  margin-right: 50px;
}

/* line 32, ../../_helpers.scss */
.mr60 {
  margin-right: 60px;
}

/* line 32, ../../_helpers.scss */
.mr70 {
  margin-right: 70px;
}

/* line 32, ../../_helpers.scss */
.mr80 {
  margin-right: 80px;
}

/* line 32, ../../_helpers.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 32, ../../_helpers.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 32, ../../_helpers.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 32, ../../_helpers.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 32, ../../_helpers.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 32, ../../_helpers.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 32, ../../_helpers.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 32, ../../_helpers.scss */
.mb80 {
  margin-bottom: 80px;
}

/* line 32, ../../_helpers.scss */
.ml10 {
  margin-left: 10px;
}

/* line 32, ../../_helpers.scss */
.ml20 {
  margin-left: 20px;
}

/* line 32, ../../_helpers.scss */
.ml30 {
  margin-left: 30px;
}

/* line 32, ../../_helpers.scss */
.ml40 {
  margin-left: 40px;
}

/* line 32, ../../_helpers.scss */
.ml50 {
  margin-left: 50px;
}

/* line 32, ../../_helpers.scss */
.ml60 {
  margin-left: 60px;
}

/* line 32, ../../_helpers.scss */
.ml70 {
  margin-left: 70px;
}

/* line 32, ../../_helpers.scss */
.ml80 {
  margin-left: 80px;
}

/* line 38, ../../_helpers.scss */
.pos_rel {
  position: relative;
}

/* line 42, ../../_helpers.scss */
.pos_abs {
  position: absolute;
}

/* line 46, ../../_helpers.scss */
.fill_width {
  width: 100% !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* line 3, ../../select2/_layout.scss */
.select2-container--jet {
  min-width: 160px;
}
/* line 3, ../../select2/_single.scss */
.select2-container--jet .select2-selection--single {
  height: 32px;
}
/* line 6, ../../select2/_single.scss */
.select2-container--jet .select2-selection--single .select2-selection__rendered {
  padding-right: 24px;
}
/* line 10, ../../select2/_single.scss */
.select2-container--jet .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
/* line 16, ../../select2/_single.scss */
.select2-container--jet .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 4px;
  width: 20px;
}
/* line 23, ../../select2/_single.scss */
.select2-container--jet .select2-selection--single .select2-selection__arrow b:before {
  font-family: 'jet-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  color: #79A7D8;
  font-size: 20px;
  content: "";
  line-height: 32px;
}
/* line 35, ../../select2/_single.scss */
.select2-container--jet[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
/* line 39, ../../select2/_single.scss */
.select2-container--jet[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
/* line 47, ../../select2/_single.scss */
.select2-container--jet.select2-container--disabled .select2-selection--single {
  background-color: #E3ECF2;
  cursor: default;
}
/* line 51, ../../select2/_single.scss */
.select2-container--jet.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
/* line 3, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple {
  background-color: #fff !important;
  border: 1px solid #CFCFFF;
  cursor: text;
  height: auto;
  min-height: 32px;
}
/* line 10, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
/* line 17, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__rendered li {
  list-style-type: none;
}
/* line 22, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 30, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__choice {
  background-color: #E3ECF2;
  color: #7f8fa4;
  font-size: 13px;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 5px;
  line-height: normal;
  list-style-type: none;
}
/* line 44, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__choice__remove {
  color: #7f8fa4;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
/* line 51, ../../select2/_multiple.scss */
.select2-container--jet .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #D82D4A;
}
/* line 59, ../../select2/_multiple.scss */
.select2-container--jet[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--jet[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
/* line 63, ../../select2/_multiple.scss */
.select2-container--jet[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
/* line 68, ../../select2/_multiple.scss */
.select2-container--jet[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
/* line 76, ../../select2/_multiple.scss */
.select2-container--jet.select2-container--disabled .select2-selection--multiple {
  background-color: #E3ECF2;
  cursor: default;
}
/* line 81, ../../select2/_multiple.scss */
.select2-container--jet.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
/* line 8, ../../select2/_layout.scss */
.select2-container--jet .select2-selection {
  background-color: #fff;
  border: 1px solid #CFCFFF;
  border-radius: 4px;
  outline: 0;
}
@media only screen and (max-width: 960px) {
  /* line 15, ../../select2/_layout.scss */
  fieldset.module .select2-container--jet .select2-selection {
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  }
}
/* line 20, ../../select2/_layout.scss */
.select2-container--jet .select2-selection .select2-selection__rendered {
  color: #8B9AA7;
  line-height: 32px;
  font-size: 13px;
}
/* line 26, ../../select2/_layout.scss */
.select2-container--jet .select2-selection .select2-selection__placeholder {
  color: #999;
}
/* line 31, ../../select2/_layout.scss */
.select2-container--jet .select2-buttons {
  background-color: #E3ECF2;
  text-align: center;
  padding: 6px;
}
/* line 38, ../../select2/_layout.scss */
.select2-container--jet .select2-buttons-button, .select2-container--jet .select2-buttons-button:visited, .select2-container--jet .select2-buttons-button:hover {
  color: #7f8fa4;
  margin-left: 10px;
}
/* line 43, ../../select2/_layout.scss */
.select2-container--jet .select2-buttons-button:hover {
  text-decoration: underline;
}
/* line 47, ../../select2/_layout.scss */
.select2-container--jet .select2-buttons-button:first-child {
  margin-left: 0;
}
/* line 53, ../../select2/_layout.scss */
.select2-container--jet .select2-dropdown {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(194, 66, 87, 0.75);
  overflow: hidden;
  z-index: 1;
}
/* line 60, ../../select2/_layout.scss */
.select2-container--jet .select2-dropdown--below {
  top: -32px;
}
/* line 64, ../../select2/_layout.scss */
.select2-container--jet .select2-dropdown--above {
  top: 32px;
}
/* line 68, ../../select2/_layout.scss */
.select2-container--jet .select2-dropdown.select2-multiple-dropdown {
  top: auto;
}
/* line 73, ../../select2/_layout.scss */
.select2-container--jet .select2-search--dropdown {
  padding: 0;
}
/* line 76, ../../select2/_layout.scss */
.select2-container--jet .select2-search--dropdown .select2-search__field {
  outline: 0;
  border: 0;
  background-color: #fff;
  color: #8B9AA7;
  height: 32px;
  -webkit-appearance: textfield;
  box-shadow: none;
}
/* line 88, ../../select2/_layout.scss */
.select2-container--jet .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  color: #8B9AA7;
  -webkit-appearance: textfield;
  box-shadow: none;
}
/* line 98, ../../select2/_layout.scss */
.select2-container--jet .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
/* line 103, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option {
  font-size: 13px;
}
/* line 106, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option[role=group] {
  padding: 0;
}
/* line 110, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option[aria-disabled=true] {
  color: #c0c6cc;
}
/* line 114, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option[aria-selected=true] {
  color: #C24257;
}
/* line 118, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option {
  padding-left: 1em;
}
/* line 121, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
/* line 125, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
/* line 129, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
/* line 133, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
/* line 137, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
/* line 141, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
/* line 152, ../../select2/_layout.scss */
.select2-container--jet .select2-results__option--highlighted[aria-selected] {
  background-color: #D82D4A;
  color: #fff;
}
/* line 157, ../../select2/_layout.scss */
.select2-container--jet .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
